.presentCrud {
  width: 100vw;
  height: 40vh;
  background-color: #888;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: underline;
  color: aliceblue;
  font-size: 2rem;
}
li {
  list-style-type: none;
}
